<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/app.css">
    <title>Document</title>
</head>
<body>
    <h1>Add user</h1>
    <form action="/" method="POST" >
        <input name="name" type="text" placeholder="FullName">
        <input name="subject" type="text" placeholder="Subject">
        <input name="grade" type="text" placeholder="Grade">
        <input type="submit">
    </form>
  
</body>
</html>